<div class="drag-body dashboard-widget m-b-30">
	<div class="panel-heading" [ngStyle]="{'background':widget?.widgetProperty?.background}">
		<h5 class="panel-title w-100" [ngStyle]="{'font-size':widget?.widgetProperty?.fontSize+'px', 'font-family':widget?.widgetProperty?.fontFamily, 'color':widget?.widgetProperty?.fontColor}" matTooltip="{{widget?.widgetProperty?.title}}" matTooltipPosition="right"> {{widget?.widgetProperty?.title}} </h5>
		<div class="ml-auto">
			<form>
				<mat-form-field class="mb-0 m-r-40">
					<mat-select placeholder="Select" (selectionChange)="changeFilterAssetType($event)" [(value)]="selectedValue">
						<mat-option *ngFor="let item of filterType" [value]="item?.value">
							{{item.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</form>
		</div>
	</div>
	<mat-card class="dashboard-card mat-card p-0">
		<div class="chart-data">
			<google-chart *ngIf="!noRecordFoundInUsageByAssetType" #cchart [data]="pieChart"></google-chart>
			<div *ngIf="noRecordFoundInUsageByAssetType" class="text-center d-flex align-items-center justify-content-center">
				No data found
			</div>
		</div>
	</mat-card>
</div>